// Lentil
// Created by Laura and Cordt Zermin


// Needs to be created on your local machine and contains API secrets
#include "Secrets-Development.xcconfig"

BASE_URL = api-mumbai.lens.dev
ORIGIN = lentilapp.xyz

XMTP_ENVIRONMENT = dev

INFURA_URL = ipfs.infura.io:5001/api/v0/add

LOG_LEVEL = INFO

LENTIL_CID = QmdxZT2Tc4TfxB3wdCcUKJ68WFezXmKqjupEegF6kuf7kP
